In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('C:/Users/pulakanam.v/Desktop/Datasets/udemy_courses.csv')

In [4]:
data.head()

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Data columns (total 12 columns):
course_id              3678 non-null int64
course_title           3678 non-null object
url                    3678 non-null object
is_paid                3678 non-null bool
price                  3678 non-null int64
num_subscribers        3678 non-null int64
num_reviews            3678 non-null int64
num_lectures           3678 non-null int64
level                  3678 non-null object
content_duration       3678 non-null float64
published_timestamp    3678 non-null object
subject                3678 non-null object
dtypes: bool(1), float64(1), int64(5), object(5)
memory usage: 319.7+ KB

In [38]:
paid = data[data['is_paid'] == True]
paid.shape

(3368, 12)

In [39]:
free = data[data['is_paid'] == False]
free.shape

(310, 12)

In [40]:
data[data['is_paid'] == True].groupby('subject').agg({'course_title':'count'})

                     course_title
subject
Business Finance             1099
Graphic Design                568
Musical Instruments           634
Web Development              1067

In [41]:
data[data['is_paid'] == False].groupby('subject').agg({'course_title':'count'})

                     course_title
subject
Business Finance               96
Graphic Design                 35
Musical Instruments            46
Web Development               133

In [51]:
data.pivot_table(values='num_subscribers',index='subject',columns='level', aggfunc=np.sum)

level,All Levels,Beginner Level,Expert Level,Intermediate Level
subject,,,,
Business Finance,1047208,647007,30146,144350
Graphic Design,688332,315757,1008,58051
Musical Instruments,328170,429030,5431,84058
Web Development,4851366,2660049,13611,455546

In [52]:
data[(data['subject'] == 'Business Finance') & (data['level'] == 'All Levels')]['num_subscribers'].sum()

1047208